@font-face {
    font-family: varela-round;
    src: url(../fonts/VarelaRound-Regular.otf);
}

@font-face {
    font-family: inconsolata;
    src: url(../fonts/Inconsolata.otf);
}

body {
  font-family: varela-round;
  background-image: url(../images/binding_light.png);
  font-size: 200%;
}

pre {
  font-family: inconsolata;
}

/* figure legend is a <p> straight after an <img> */
img + p {
  text-align: center;
  font-size: 200%;
}

a {
  color: black;
}